<div class="panel panel-default">
    <div class="panel-heading">
        Edit Index Thing Type
        <div class="btn-toolbar pull-right">
            <div class="btn-group">
                <div (click)="save()" class="btn btn-default btn-sm">Save</div>
                <div (click)="resetClicked()" class="btn btn-default btn-sm">
                    Reset
                </div>
            </div>
        </div>
    </div>
    <div class="panel-body">
        <table class="table">
            <tr>
                <th>Model Set Key</th>
                <th>Name</th>
                <th>Description</th>
            </tr>
            <tr *ngFor="let item of items">
                <td>
                    {{ modelSetTitle(item) }}
                </td>
                <td>
                    {{ item.name }}
                </td>
                <td>
                    <input
                        [(ngModel)]="item.title"
                        class="form-control input-sm"
                        type="text"
                    />
                </td>
            </tr>
        </table>
    </div>
</div>
