<div class="peek-nav-section">
    <div class="btn-group" role="group">
        <button
            [routerLink]="['./view_thing']"
            class="nav-section-btn"
            role="group"
        >
            View Thing
        </button>
    </div>
</div>

<div class="peek-nav-bar-padding">
    <div class="peek-information-section">
        <div class="information-section-title">
            Welcome to Index Blueprint DB
        </div>
        <img
            class="information-section-icon"
            src="/assets/peek_plugin_index_blueprint/icon.png"
        />

        <div class="p">
            This plugin is the blueprint for how the Peek indexed data with
            offline support works.
        </div>
    </div>
</div>
