<div class="container">
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
        <!-- Home Tab -->
        <li class="active" role="presentation">
            <a aria-controls="home" data-toggle="tab" href="#home" role="tab">
                Home
            </a>
        </li>
        <!-- Status -->
        <li role="presentation">
            <a
                aria-controls="status"
                data-toggle="tab"
                href="#status"
                role="tab"
                >Status
            </a>
        </li>
        <!-- Edit ThingIndex Type Tab -->
        <li role="presentation">
            <a
                aria-controls="editDocType"
                data-toggle="tab"
                href="#editDocType"
                role="tab"
                >Edit Thing Types
            </a>
        </li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
        <!-- Home Tab -->
        <div class="tab-pane active" id="home" role="tabpanel">
            <h1 class="text-center">Thing Index Blueprint</h1>
            <p>
                This plugin is the blueprint for how the Peek indexed data with
                offline support works.
            </p>
        </div>
        <!-- Status Tab -->
        <div class="tab-pane" id="status" role="tabpanel">
            <pl-index-blueprint-status></pl-index-blueprint-status>
        </div>
        <!-- Edit ThingIndex Type Tab -->
        <div class="tab-pane" id="editDocType" role="tabpanel">
            <pl-index-blueprint-edit-thing-type></pl-index-blueprint-edit-thing-type>
        </div>
    </div>
</div>
