<div class="peek-details-section">
    modelSetKey=<input [(ngModel)]="modelSetKey" type="text" /> Try
    "testModel"<br />
    key=<input [(ngModel)]="key" type="text" /> Try "thing1Key"<br />

    <button (click)="find()" class="btn">Find</button>
    <br />
    <hr />

    <div *ngIf="thing == null">No Thing Loaded</div>
    <div *ngIf="thing != null">
        <div *ngIf="thing.key == null">No Thing Found</div>
        <div *ngIf="thing.key && thing.key.length">
            Thing Type: {{thingTypeName}}<br />
            {{thing.toJsonDict() | json}}
        </div>
    </div>
</div>
